#### Write a function that computes the volume of a sphere given its radius.

In [20]:
def vol(rad):
    return (4/3)*(rad**3)*3.14

In [21]:
vol(2)

33.49333333333333

#### Write a function that checks whether a number is in a given range (inclusive of high and low)

In [42]:
def ran_bool(num, high, low):
    return num in range(low, high + 1)

In [43]:
ran_bool(3, 10, 1)

True

#### Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33

In [26]:
def up_low(s):
    up = low = 0
    for i in s:
        if i.isupper(): 
            up += 1
        elif i.islower(): 
            low += 1
    print("No. of upper case characters :", up)
    print("No. of lower case characters :", low)

In [27]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

No. of upper case characters : 4
No. of lower case characters : 33

#### Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [28]:
def unique_list(lst):
    new_lst = []
    for i in lst:
        if i not in new_lst:
            new_lst.append(i)
    return new_lst

In [29]:
unique_list([1,1,1,1,2,2,3,3,3,4,5])

[1, 2, 3, 4, 5]

#### Write a Python function to multiply all the numbers in a list.

Sample List : [1, 2, 3, -4]
Expected Output : -24

In [30]:
def multiply(numbers):
    mul = 1
    for i in numbers:
        mul *= i
    return mul

In [31]:
multiply([1, 2, 3, -4])

-24

#### Write a Python function that checks whether a word or phrase is palindrome or not.

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [44]:
def palindrome(s):
    s = s.replace(' ','')
    return s == s[::-1]

In [45]:
palindrome("madam")

True

#### Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)

Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
For example : "The quick brown fox jumps over the lazy dog"

In [46]:
import string

def isPangram(str1, alpha = string.ascii_lowercase):
    str1 = str1.lower()
    for i in alpha:
        if i not in str1:
            return False
    return True

In [37]:
isPangram("The quick brown fox jumps over the lazy dog")

True

____

### OOP HW

#### Problem 1

In [28]:
class Line:
    
    def __init__(self,coor1,coor2):
        self.c1 = coor1
        self.c2 = coor2
    
    def distance(self):
        q1 = (self.c2[0] - self.c1[0]) ** 2
        q2 = (self.c2[1] - self.c1[1]) ** 2
        return (q1 + q2) ** (1/2)
    
    def slope(self):
        return (self.c2[1] - self.c1[1])/(self.c2[0] - self.c1[0])

In [29]:
coordinate1 = (3, 2)
coordinate2 = (8, 10)

li = Line(coordinate1, coordinate2)

In [30]:
li.distance()

9.433981132056603

In [14]:
li.slope()

1.6

#### Problem 2

In [34]:
class Cylinder:
    
    def __init__(self,height=1,radius=1):
        self.h = height
        self.r = radius
        
    def volume(self):
        return 3.14 * (self.r * self.r) * self.h
    
    def surface_area(self):
        return (2 * 3.14 * self.r * self.h) + (2 * 3.14 * self.r * self.r)

In [35]:
c = Cylinder(2, 3)

In [36]:
c.volume()

56.52

In [37]:
c.surface_area()

94.19999999999999

_____

### OOP Challenge

In [51]:
class Account:
    
    def __init__(self, owner, balance):
        self.owner = owner
        self.balance = balance
    
    def __str__(self):
        return "Account owner: " + self.owner + "\nAccount balance: $" + str(self.balance)
    
    def deposit(self, amount):
        self.balance += amount
        print("Deposit accepted.")
        
    def withdraw(self, amount):
        if amount > self.balance:
            print("Funds unavailable!")
        else:
            self.balance -= amount
            print("Withdrawal accepted")

In [52]:
acct1 = Account('Jose', 100)

In [53]:
print(acct1)

Account owner: Jose
Account balance: $100

In [54]:
acct1.owner

'Jose'

In [55]:
acct1.balance

100

In [56]:
acct1.deposit(50)

Deposit accepted.

In [57]:
acct1.withdraw(75)

Withdrawal accepted

In [58]:
acct1.withdraw(500)

Funds unavailable!